SECRET_KEY=randomsecretkey
API_HOSTNAME=localhost:8088
SERVER_PROTOCOL=http
SERVER_PORT=8088
SERVER_HOSTNAME=localhost
POSTGRES_PASSWORD=passwordpassworpasswopasswpasspaspap
POSTGRES_DB=closed-captions-overlay
POSTGRES_USER=cco
TWITCH_CLIENT_ID=clientid
TWITCH_CLIENT_SECRET=clientsecret